 h1 {
     font-size: 40px;
     color: red;
     font: center;
}
body {
    background-image: url("https://media.minecraftforum.net/attachments/292/703/636824709302005965.jpg");
    background-image: center;
    width: 98%;
    height: 300px;
}
ul {
    color: aquamarine;
}
.btn {
    display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 2px solid transparent;
        white-space: nowrap;
        padding: 10px 15px;
        font-size: 15px;
        line-height: 1.42857143;
        border-radius: 4px;
        webkit-user-select: none;
        moz-user-select: none;
        ms-user-select: none;
        user-select: none;
}
.btn-primary {
        color: black;
        background-color: orange;
        border-color: black;
}